body { background-color:snow; }
[contenteditable='true'] {
	font-family: monospace;
}
.peep { margin:0 auto; outline: none; font-family: monospace; width: 45em; font-size: 18px; color:#111; line-height: 1.6; overflow:hidden; }
.gutter, .margin, .body, .empty { display:block; float: left; margin:0; min-height: 1.6em; }
.empty  { clear: left; width:32em; padding-left:4.5em; }
.gutter { clear: left; width: 6em; text-align: right; }
.margin { width: 0.5em; }
.body   { width: 38.5em; }
pre { margin:0; }
.peep a { white-space: nowrap; }
.peep-header .body { font-weight: bold; }
.peep-img { border-bottom: 1px dotted lightblue; }
.peep {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.peep-indent { float: left; width: 1em; }
.peep-indent-block { float: left; }
.peep-indent-level-1 { width: 37.5em; }
.peep-indent-level-2 { width: 36.5em; }
.peep-indent-level-3 { width: 35.5em; }

.peep code { color:darkblue; }
.peep pre code { color:lightblue; }
.peep-footnote ref { color: #aaa; }
.peep-footnote:target td { background-color:#FFF1C7; }
.peep-footnote:target td:first-child { border-radius: 0.5em 0 0 0.5em; }
.peep-footnote:target td:last-child { border-radius: 0 0.5em 0.5em 0; }